# This file is committed to the repository and should be version controlled.
# Learn more about Prisma here: https://pris.ly/d/prisma-schema

# .env.local should be used for your local environment variables (secrets)
DATABASE_URL=""
OPENAI_API_KEY=""
NEXT_PUBLIC_API_URL="http://localhost:3000"
